.App {
  text-align: center;
}

#landing-page {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

#album-search-results {
    display: flex;
}


#film-search-results {
    display: flex;
}