.App {
  text-align: center;
}

html,
body,
#root {
  height: 100%;
  overflow: auto;
}

.landing-page {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.form-container {
    text-align: left;
    
}

/* SEARCH RESULTS */

.film-search-results {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;

}

.album-search-results {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.album-search-results img {
    max-height: 120px;
}

.movie-search-img:hover {
  cursor: pointer;
}

/* FILM ITEM  */
.film-item {
  /* box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75); */
}

.film-item-rating {
  margin: 0;
}

/* ALBUM ITEM */
.album-item {
  /* box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75); */
}


/* ALBUM SEARCH RESULTS */


.selected-album {
    height: 40vh;
    overflow: auto;
}

.selected-album img {
    max-height: 120px;
}

/* ALBUM DETAILS */
.album-details img {
    max-width: 40%;
}

/* FILM DETAILS  */
.film-backdrop {
    position: relative;
    margin-bottom: 30px;
}

.film-title {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    color: white;
    font-size: 3em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, transparent, rgba(0,0,0,0.5));
    padding: 0.25em 1.5rem;
  }

  .film-detail {
    text-align: left;
  }

  .film-meta {
    padding: 1em 1.5em;
    line-height: 1.5;
    color: white;
    background-color: #536162;
  }

  .film-meta-poster {
    float: left;
    width: 30%;
    margin: 1.5em;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  }


/* ANIMATIONS */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}